body {
    margin: 0;
    font-family: "Roboto", "Arial", "sans-serif";
}

ul {
    list-style-type: none;
    width: 10%;
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
    position : fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display:block;
    padding: 10px 12px;
    text-decoration: none;
    color: #000000;
}

li a:hover {
    background-color: #0047AB;
    color: #FFFFFF;
}

.content {
    margin-left:10%;
    padding:1px 16px;
    height:100%;
}
