<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/styles.css}" rel="stylesheet" />
        <title> Homepage </title>
    </head>
    <body>
        <ul>
            <li><a th:href="@{/homepage}"> Home </a></li>
            <li><a th:href="@{/explore}"> Explore </a></li>
            <li><a th:href="@{/aboutus}"> About Us </a></li>
            <li><a th:href="@{/login}"> Sign In </a></li>

        </ul>

        <div class="content">
            <h1> Welcome to the Mathematics Question Generator Website </h1>

        </div>

    </body>
</html>