<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <title> Homepage </title>
</head>
<body>

<header class="header">
    <a th:href="@{/homepage}" class="logo"> MathVerse </a>

    <nav class="navigation_bar">
        <a th:href="@{/homepage}"> Home </a>
        <a th:href="@{/explore}"> Explore </a>
        <a th:href="@{/practice}"> Practice </a>

        <a sec:authorize="isAnonymous()" th:href="@{/login}"> Sign In </a>

        <a sec:authorize="isAuthenticated()" th:href="@{/myaccount}"> My Account </a>

        <div class="logout_form">
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <input class="user_logout" type="submit" value="Logout"/>
                </form>
            </div>
        </div>

    </nav>
</header>

<div class="content">

    <div class="welcome_message_title">
        <h1> MathVerse </h1>
    </div>

    <div class="welcome_message_content">
        <p>
            Welcome to MathVerse, a mathematics question generator website.
            The aim of the MathVerse is to support students who require further practice in the CS1MCP Module.
            MathVerse will test the taught concepts of the module, in the form of quizzes for individual topics.
        </p>
    </div>

</div>

</body>
</html>