<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <title> Homepage </title>
</head>
<body>

<div class="navigation_bar">
    <ul>
        <li>
            <div sec:authorize="isAuthenticated()">
                <div sec:authorize="hasAnyAuthority('Admin')">
                    <a th:href="@{/adminhomepage}"> Admin Panel </a>
                </div>
            </div>
        </li>
        <li><a th:href="@{/homepage}"> Home </a></li>
        <li><a th:href="@{/explore}"> Explore </a></li>
        <li><a th:href="@{/practice}"> Practice </a></li>
        <li>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}"> Sign In </a>
            </div>
        </li>
        <li>
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/myaccount}"> My Account </a>
            </div>
        </li>
        <li>
            <div class="logout_form">
                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <input class="user_logout" type="submit" value="Logout"/>
                    </form>
                </div>
            </div>
        </li>
    </ul>

</div>

<div class="content">

    <div class="welcome_message_title">
        <h1> Mathematics Question Generator </h1>
    </div>

    <div class="welcome_message_content">
        <p>
            Welcome to the Mathematics Question Generator website.
            The aim of the website is to support students who require further practice in the CS1MCP Module.
            This website will test the taught concepts of the module, in the form of quizzes for individual topics.
        </p>
    </div>

</div>

</body>
</html>