<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <title> Practice </title>
</head>
<body>

<header class="header">
    <a th:href="@{/homepage}" class="logo"> MathVerse </a>

    <nav class="navigation_bar">
        <a th:href="@{/homepage}"> Home </a>
        <a th:href="@{/explore}"> Explore </a>
        <a th:href="@{/practice}"> Practice </a>

        <a sec:authorize="isAnonymous()" th:href="@{/login}"> Sign In </a>
        <a sec:authorize="isAnonymous()" th:href="@{/register}"> Register </a>

        <a sec:authorize="isAuthenticated()" th:href="@{/myaccount}"> My Account </a>

        <a sec:authorize="isAuthenticated()" href="javascript: document.logoutForm.submit()"> Logout</a>

        <form name="logoutForm" th:action="@{/logout}" method="post">
            <input class="user_logout" type="hidden" value="Logout"/>
        </form>

    </nav>
</header>

<div class="title_section">
    <div class="title">
        <h1> <mark class="orange"> Practice </mark> </h1>
    </div>
</div>

<div class="content">

    <div class="topic_instruction">
        <p> <em> Please select the topic that you wish to practice on, by clicking the topic name </em> </p>
    </div>

    <div class="topic_list">

        <table class="topic_table">
            <thead>
            <tr>
                <th> Topic Name</th>
                <th> Difficulty</th>
            </tr>
            </thead>

            <tbody>
            <div th:each="topic: ${topics}">
                <tr>
                    <td><a th:href="@{/practicemode/{name} (name=${topic.topicname}) }"> <span
                            th:text="${topic.topicname}"></span> </a></td>
                    <td><span th:text="${topic.difficulty}"></span></td>
                </tr>
            </div>
            </tbody>
        </table>

    </div>

</div>

</body>
</html>