<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/styles.css}" rel="stylesheet" />
        <title> Account Login </title>
    </head>
    <body>
        <ul>
            <li><a th:href="@{/homepage}"> Home </a></li>
            <li><a th:href="@{/explore}"> Explore </a></li>
            <li><a th:href="@{/aboutus}"> About Us </a></li>
            <li><a th:href="@{/signin}"> Sign In </a></li>
        </ul>

        <div class="content">
            <h1> Login Page </h1>

            <div class="signin_form">
                <label> Email Address </label>
                <br>
                <input type="email" name="userEmail" required>

                <br><br>

                <label> Password </label>
                <br>
                <input type="password" name="userPassword" required>


            </div>

            <p>
                Do not have an account with us,
                <a th:href="@{/signup}"> sign up! </a>
            </p>

        </div>
    </body>
</html>