<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <title> Account Creation </title>
</head>
<body>

<header class="header">
    <a th:href="@{/homepage}" class="logo"> MathVerse </a>

    <nav class="navigation_bar">

        <a th:href="@{/homepage}"> Home </a>
        <a th:href="@{/explore}"> Explore </a>
        <a th:href="@{/practice}"> Practice </a>
        <a th:href="@{/login}"> Sign In </a>
        <a th:href="@{/register}"> Register </a>

    </nav>
</header>

<div class="title_section">
    <div class="title">
        <h1> <mark class="orange"> Sign </mark> up </h1>
    </div>
</div>

<div class="content">

    <div class="signup_form">

        <h1> Registration Form </h1>

        <form th:action="@{/registerUser}" th:object="${user}" method="post">

            <input type="text" th:field="*{firstname}" name="firstname" placeholder="Firstname" required>

            <input type="text" th:field="*{surname}" name="surname" placeholder="Surname" required>

            <input type="text" th:field="*{username}" name="username" placeholder="Username" required>

            <input type="password" th:field="*{password}" name="password" placeholder="Password" required>

            <input class="submit" type="submit" name="submit" value="Sign Up">
            <input type="hidden" name="submitted" value="true">

        </form>

        <p>
            Already have an account with us, <a th:href="@{/login}"> Sign in! </a>
        </p>

    </div>

</div>
</body>
</html>