<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <title> Test Mode</title>
</head>
<body>

<div class="navigation_bar">
    <ul>
        <li><a th:href="@{/homepage}"> Home </a></li>
        <li><a th:href="@{/explore}"> Explore </a></li>
        <li><a th:href="@{/problems}"> Problems </a></li>
        <li>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}"> Sign In </a>
            </div>
        </li>
        <li>
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/myaccount}"> My Account </a>
            </div>
        </li>
        <li>
            <div class="logout_form">
                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <input class="user_logout" type="submit" value="Logout"/>
                    </form>
                </div>
            </div>
        </li>
    </ul>

</div>

<div class="content">
    <h1> Test Mode </h1>

</div>

</body>
</html>